
:root{

    --primary-color: #7c28bb;
    --primary-dark: #0c4a6e;
    --secondary-dark:  #7dd3fc;
    --bg-color: #f0f9ff;
    --white: #FFFFFF;
    --highlight-color: #d0edfb;


}
body{
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-dark);
    font-size: 15px;
    padding: 20px;
    
}

/* Headings */

h1{
    font-family: serif;
    font-weight: bolder;
}   
h2{
    font-family: serif;
    font-size: larger;
    font-weight: bolder;

}
h3{
    font-family: serif;
    font-size: larger;
    font-weight: lighter;
}
h4{
    font-family: serif;
    font-size: medium;
    font-weight: bold;
}


form{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}

/* list */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav{
    display: flex;
}
ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: var(--secondary-dark);
}



/* Button and links */
a{
    text-decoration: none;
    color: var(--secondary-dark);
}

button{
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}
a, button{
    transition: background-color 0.3s ease;
    
}
button:hover{
    color: var(--white);
    transform: scale(1.05);
}
a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
button:active{
    transform: scale(0.9);
    background-color: var(--secondary-dark);
}
button:focus{
    outline: solid 1px var(--primary-dark);
}


/* checkbox and radio */
input[type="checkbox"], input[type="radio"]{
    transform: scale(1.5);
    margin-right: 10px;
}

/* Images */

#logo{
    width:2rem;
    height: 2rem;
}
img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* Products */
article:nth-child(even){
    background-color: var(--highlight-color); 
}

article p{
    color: var(--primary-color);
}

article{
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    /* width: 150px; */
    transition: transform 0.05s ease;
}
article:hover{
    transform: scale(1.05);
}


/* empty cart */
div:empty{
    background: var(--highlight-color)
}


.price::before{
    content: "₱";
}

/* Input */

input:required{
    font-size: medium;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #F95738;
}

input:valid{
    border: 2px solid #80C4E9;
}

input[type="number"]{
    width: 90px;
}

/* Table */
td:first-child{
    font-weight: bold

}

::marker{
    color: var(--primary-color);
}


.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    
}

.cart{
    padding: 20px;
}

.cart li{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

.cart h3{
    width: 150px;
}

.cart li img{
    width: 90px;
    height: auto;

}

.cart .price{
    min-width: 100px;
}


/* Products*/


#main-products{
    grid-area: main;
}

#aside-products{
    grid-area: a-product;

}



/* Checkout.html */

/* reviews */

blockquote p::before{
    content: "“";
}

blockquote p::after{
    content: "”";
}

.checkout{
    gap: 3em;
}

.checkout fieldset{
    grid-area: fieldset;
    border-radius: 15px;
    padding: 20px;
}

.checkout form{
    grid-area: form;
}

.checkout aside{
    grid-area: aside;
}

/* Signup */
#signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Animation */

.products{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#atc:hover{
    animation: pulse 0.6s infinite;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
    
}

.Hero{
    animation: slideIn .9s ease-out;
}

@keyframes slideIn{
    from{
        transform: translateY(-90px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#atc{
    animation: bounce 0.5s;
}

@keyframes bounce{
    0% { transform: scale(1);}
    30%{transform: scale(1.2);}
    50%{transform: scale(0.9);}
    70%{transform: scale(1.05);}
    100%{transform: scale(1);}
}



/* Responsive Design */
/* Mobile */
@media (min-width:0px) {
    header nav{
        flex-direction: column;
        align-items: center;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .checkout{
        display: flex;
        flex-direction: column;
    }
      #product-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75vh;
    grid-template-areas: 
    "a-product"
    "main";
    }
   
    
}
/* Tablet */
@media (min-width:481px) {

    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
   
    
}

/* Desktop */
@media (min-width: 769px) {

    header nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 20px;
    }

    .checkout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "fieldset aside"
        "form aside";
    }

    #product-container{
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a-product main";
    }
}
